*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.gpg
gradle.properties
/.idea
/gradle
*.asc
maven_push.gradle
gradle-app.setting
gradle/wrapper/gradle-wrapper.properties
.gradletasknamecache
gradle-wrapper.jar
/build/