*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle.properties
/.idea
/gradle
gradle/wrapper/gradle-wrapper.properties
.gradletasknamecache
gradle-wrapper.jar
/build/
